<div>
  <nav>
    <div class="nav-wrapper #b39ddb deep-purple lighten-3">
      <a href="#" class="brand-logo">&nbsp;&nbsp;gDating</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/register">Register</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="input-field col s12">
    <div class="row">
      <div class="input-field col s1">
      </div>
      <div class="input-field col s11">
        <h3>Login</h3>
      </div>
    </div>
  </div>
  <form ng-submit="logCtrl.logIn(login)" novalidate class="col s12 registerForm" ng-model="login">
    <div class="row">
      <div class="input-field col s1">
      </div>
      <div class="input-field col s10">
        <input id="email" type="text" ng-model="login.email" id="email" name="email">
        <label for="username">Email</label>
      </div>
      <div class="input-field col s1">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s1">
      </div>
      <div class="input-field col s10">
        <input id="password" type="password" ng-model="login.password" id="password" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s1">
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s11">
          <button class="waves-effect waves-light btn s11" type="submit">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>
