<div class="row col s12 memberViewPage">
  <div>
    <nav>
      <div class="nav-wrapper #b39ddb deep-purple lighten-3">
        <a href="#" class="brand-logo">&nbsp;&nbsp;gDating</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ng-click="memCtrl.logOut()">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col s6 topMainPage">

    <div class="row col s11 listMembers card red lighten-5" ng-repeat="members in memCtrl.allMembers">
      <div class="container allMembers" ng-controller="memberController as membCtrl">

        <div class="col s7">
          <img class="avatar" ng-src="{{members.avatar}}" height="150" width="150">
        </div>

        <div class="col s5 nameCard">
`         <p>Name: {{members.names.firstName}}</p>
          <a ng-click="membCtrl.showOne(members)" ui-sref="members.member">Show more...</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col s6">
    <div ui-view></div>
  </div>
</div>
