<div class="row col s12 mainView">
  <div>
    <nav>
      <div class="nav-wrapper #b39ddb deep-purple lighten-3">
        <a href="#" class="brand-logo">&nbsp;&nbsp;gDating</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#/">Home</a></li>
          <li><a href="#/login">Login</a></li>
          <li><a href="#/register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="slider" slider>
      <ul class="slides">
          <li>
              <img ng-src="../../../css/membersPhotos/membersCourtHouseKiss.jpeg"> <!-- random image -->
              <div class="caption center-align">
                  <h3 class="datingNerds">Dating for Nerds</h3>
                  <a href="#/members" class="waves-light btn #b39ddb deep-purple lighten-3"><i class="material-icons left">favorite</i>Get Started<i class="material-icons right">favorite</i></a>
              </div>
          </li>
          <li>
              <img ng-src="../../../css/membersPhotos/membersKissWoods.jpeg"> <!-- random image -->
              <div class="caption left-align">
                  <h3 class="datingNerds">Dating for Nerds</h3>
                  <a href="#/members" class="waves-light btn #b39ddb deep-purple lighten-3"><i class="material-icons left">favorite</i>Get Started<i class="material-icons right">favorite</i></a>
              </div>
          </li>
          <li>
                  <img ng-src="../../../css/membersPhotos/membersVows.jpeg"> <!-- random image -->
                  <div class="caption right-align">
                  <h3 class="datingNerds">Dating for Nerds</h3>
                  <a href="#/members" class="waves-light btn #b39ddb deep-purple lighten-3"><i class="material-icons left">favorite</i>Get Started<i class="material-icons right">favorite</i></a>
              </div>
          </li>
          <li>
              <img ng-src="../../../css/membersPhotos/membersHeart.jpeg"> <!-- random image -->
              <div class="caption center-align">
                  <h3 class="datingNerds">Dating for Nerds</h3>
                  <a href="#/members" class="waves-light btn #b39ddb deep-purple lighten-3"><i class="material-icons left">favorite</i>Get Started<i class="material-icons right">favorite</i></a>
              </div>
          </li>
      </ul>
  </div>

  <div class="row col s12">
    <div class="row col s1">
    </div>
    <div class="row col s10">
      <div class="card horizontal">
        <div class="card-image">
          <img ng-src="{{mainCtrl.oneMember.avatar}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{mainCtrl.oneMember.description}}</p>
          </div>
          <div class="card-action">
            <h5>{{mainCtrl.oneMember.names.firstName | uppercase }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
