<div class="col s12 mainView">
  <div class="row col s12">
    <div id="slides_control" ng-repeat="photo in mainCtrl.mainPagePhotos"  active="photos.active">
      <div>
        <carousel interval="3000">
          <slide>
            <img ng-src="{{photo.image}}" height="100" width="100">
            <h3 class="datingNerds">Dating for Nerds</h3>
            <a class="waves-effect waves-light btn #b39ddb deep-purple lighten-3"><i class="material-icons left">favorite</i>Get Started<i class="material-icons right">favorite</i></a>
          </slide>
        </carousel>
      </div>
    </div>
  </div>

  <div class="row col s12">
  </br></br></br></br>
  </div>

  <div class="row col s12">
    </br></br></br></br>
  </div>

  <div class="row col s12">
    <div class="row col s1">
    </div>
    <div class="row col s10">
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{mainCtrl.oneMember.avatar}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{mainCtrl.oneMember.description}}</p>
          </div>
          <div class="card-action">
            <h5>{{mainCtrl.oneMember.names.firstName | uppercase }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
