<div class="row col s12" ng-style="{'background-color: #eceff1}">

  <div class="row col s12">
    <div class="carMainImage">
    <div id="slides_control" ng-repeat="photo in mainCtrl.mainPagePhotos"  active="photo.active">
      <div>
        <carousel interval="3000">
          <slide>
            <img class=carousel ng-src="{{photo.image}}" height="200" width="100">
            <h3 class="datingNerds">Dating for Nerds</h3>
            <a href="/#/members" class="waves-light btn #b39ddb deep-purple lighten-3"><i class="material-icons left">favorite</i>Get Started<i class="material-icons right">favorite</i></a>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  </div>

    <!-- <div style="height: 305px">
      <div uib-carousel active="0" interval="1000" no-wrap="false">
        <div uib-slide ng-repeat="photo in mainCtrl.mainPagePhotos" index="slide.id">
          <img ng-src="{{photo.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{photo.id}}</h4>
          </div>
        </div>
      </div>
    </div> -->


  <div class="row col s12">
  </br></br></br></br>
  </div>

  <div class="row col s12">
  </br></br></br></br>
  </div>

  <div class="row col s12">
  </br></br></br></br>
  </div>

  <div class="row col s12">
  </br></br></br></br>
  </div>

  <div class="row col s12">
    <div class="row col s1">
    </div>
    <div class="row col s10">
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{mainCtrl.oneMember.avatar}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{mainCtrl.oneMember.description}}</p>
          </div>
          <div class="card-action">
            <h5>{{mainCtrl.oneMember.names.firstName | uppercase }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
