/* add custom styles */

/*#slides_control > div{
  height: 100px;
}*/

/*.carousel {
  margin:auto;
  width: 700px;
  margin-top: 30px;
}*/

/*#slides_control {
  position:absolute;
  width: 700px;
  left:50%;
  top:20px;
  margin-left:-350px;
}*/

.datingNerds {
  font-size: 54px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.mainView {
  background-color: #e0e0e0;
}
