/* add custom styles */

* {
  font-family: "Courier New", Courier, monospace
}

.topMainPage {
  margin-top: 20px;
}

.avatar {
  margin-top: 20px;
  border-radius: 15px;
}

.singleAvatar {
  border-radius: 100px;
}

.partialMembers {
  background-color: #b39ddb;
}
